Repository Synerise/synerise-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,less}": ["prettier --write"]
}

fix(toast): wire up dismiss
  packages/components/core/src/js/toaster/constants.ts
  packages/components/toast/package.json
  packages/components/toast/src/Toast.tsx
  packages/components/toast/src/Toast.types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(slider): add data attr fortesting
  packages/components/slider/src/components/SliderLine.tsx
Due: eslint --fix, prettier --write

feat(toast): adds onDismiss prop
  packages/components/toast/README.md
  packages/components/toast/src/Toast.tsx
  packages/components/toast/src/Toast.types.ts
  packages/storybook/stories/components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write

fix(table): overflow ellipsis
  packages/components/table/src/Cell/Copyable/Copyable.styles.ts
  packages/components/table/src/Cell/Copyable/CopyableCell.tsx
Due: eslint --fix, prettier --write

fix(button): change styles
  packages/components/button/src/Checkbox/Checkbox.styles.ts
  packages/components/button/src/Checkbox/Checkbox.tsx
Due: eslint --fix, prettier --write

fix(storybook): fix font styles path
  packages/storybook/.storybook/preview-head.html
Due: none

feat(panel): new component
  package.json
  packages/components/confirmation/package.json
  packages/components/confirmation/src/Confirmation.styles.ts
  packages/components/confirmation/src/components/BatchItemsList.tsx
  packages/components/design-system/package.json
  packages/components/estimation/src/Estimation.styles.ts
  packages/components/estimation/src/Estimation.tsx
  packages/components/flex-box/src/index.ts
  packages/components/items-roll/package.json
  packages/components/items-roll/src/ItemsRoll.styles.ts
  packages/components/items-roll/src/ItemsRoll.tsx
  packages/components/panel/README.md
  packages/components/panel/jest.config.js
  packages/components/panel/package.json
  packages/components/panel/src/Panel.const.ts
  packages/components/panel/src/Panel.styles.ts
  packages/components/panel/src/Panel.tsx
  packages/components/panel/src/Panel.types.ts
  packages/components/panel/src/__specs__/Panel.test.tsx
  packages/components/panel/src/index.ts
  packages/components/panel/src/modules.d.ts
  packages/components/panel/tsconfig.json
  packages/storybook/stories/components/Panel/Panel.data.ts
  packages/storybook/stories/components/Panel/Panel.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(modal): add tabs to modal header
  config/vitest/__mocks__/getComputedStyle.ts
  config/vitest/setup.ts
  packages/components/factors/src/FactorValue/Array/Array.styles.ts
  packages/components/modal/jest.config.js
  packages/components/modal/package.json
  packages/components/modal/src/Elements/ModalFooter/ModalFooter.spec.tsx
  packages/components/modal/src/Elements/ModalTitle/ModalTitle.spec.tsx
  packages/components/modal/src/Elements/ModalTitle/ModalTitle.styles.ts
  packages/components/modal/src/Elements/ModalTitle/ModalTitle.tsx
  packages/components/modal/src/Modal.spec.tsx
  packages/components/modal/src/Modal.types.ts
  packages/components/modal/src/modules.d.ts
  packages/components/modal/tsconfig.json
  packages/components/modal/vitest.config.ts
  packages/storybook/.storybook/main.ts
  packages/storybook/package.json
  packages/storybook/stories/components/ActionArea/ActionArea.stories.tsx
  packages/storybook/stories/components/Modal/Modal.data.tsx
  packages/storybook/stories/components/Modal/Modal.stories.tsx
  packages/storybook/stories/components/Modal/styles.ts
  packages/storybook/stories/constants/components.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(icon): new app menu icon
  packages/components/icon/src/svg/M/share-color-m.svg
Due: none

fix(broadcast-bar): update to vitest
  packages/components/broadcast-bar/jest.config.js
  packages/components/broadcast-bar/package.json
  packages/components/broadcast-bar/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(banner): update to vitest
  packages/components/banner/jest.config.js
  packages/components/banner/package.json
  packages/components/banner/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(badge): update to vitest
  packages/components/badge/jest.config.js
  packages/components/badge/package.json
  packages/components/badge/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(button-group): update to vitest
  packages/components/button-group/jest.config.js
  packages/components/button-group/package.json
  packages/components/button-group/src/__specs__/ButtonGroup.spec.tsx
  packages/components/button-group/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(button): update to vitest
  packages/components/button/jest.config.js
  packages/components/button/package.json
  packages/components/button/src/__specs__/Button.spec.tsx
  packages/components/button/src/__specs__/ButtonToggle.spec.tsx
  packages/components/button/src/__specs__/Checkbox.spec.tsx
  packages/components/button/src/__specs__/Creator.spec.tsx
  packages/components/button/src/__specs__/Expander.spec.tsx
  packages/components/button/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(card): update to vitest
  packages/components/card/jest.config.js
  packages/components/card/package.json
  packages/components/card/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(card-select): update to vitest
  packages/components/card-select/jest.config.js
  packages/components/card-select/package.json
  packages/components/card-select/src/__specs__/CardSelect.spec.tsx
  packages/components/card-select/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(card-tabs): update to vitest
  packages/components/card-tabs/jest.config.js
  packages/components/card-tabs/package.json
  packages/components/card-tabs/src/__specs__/CardTabs.spec.tsx
  packages/components/card-tabs/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(input-number): new option for input-number to autosize
  packages/components/factors/src/FactorValue/RelativeDate/RelativeDateDropdown.styles.ts
  packages/components/input-number/package.json
  packages/components/input-number/src/InputNumber.styles.tsx
  packages/components/input-number/src/InputNumber.tsx
  packages/components/input-number/src/InputNumber.types.ts
  packages/components/input-number/src/style/inputNumber.mixin.less
  packages/storybook/stories/components/InputNumber/InputNumber.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(confirmation): custom footer component for confirmation
  packages/components/confirmation/src/Confirmation.tsx
  packages/components/confirmation/src/Confirmation.types.ts
Due: eslint --fix, prettier --write

chore: update node to 24
  .gitlab-ci.yml
  Dockerfile
  package.json
  packages/components/code-area/src/components/CodeAreaEditor.tsx
  packages/components/condition/src/ConditionStep/ConditionRow/ConditionRow.tsx
  packages/components/date-range-picker/src/RangeFilter/Filters/DailyFilter/DailyFilter.tsx
  packages/components/date-range-picker/src/RangeFilter/utils.ts
  packages/components/drawer/src/Drawer.types.ts
  packages/components/factors/src/FactorValue/Parameter/Parameter.types.ts
  packages/components/input/src/Input.types.ts
  packages/components/search/src/Search.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(icon): new menu icons
  packages/components/icon/src/svg/M/ai-color-hub-m.svg
  packages/components/icon/src/svg/M/ai-grey-hub-m.svg
  packages/components/icon/src/svg/M/automation-color-hub-m.svg
  packages/components/icon/src/svg/M/automation-grey-hub-m.svg
  packages/components/icon/src/svg/M/behavioral-color-hub-m.svg
  packages/components/icon/src/svg/M/behavioral-grey-hub-m.svg
  packages/components/icon/src/svg/M/dashboard-color-hub-m.svg
  packages/components/icon/src/svg/M/dashboard-grey-hub-m.svg
  packages/components/icon/src/svg/M/data-color-hub-m.svg
  packages/components/icon/src/svg/M/data-grey-hub-m.svg
  packages/components/icon/src/svg/M/decisions-color-hub-m.svg
  packages/components/icon/src/svg/M/decisions-grey-hub-m.svg
  packages/components/icon/src/svg/M/experience-color-hub-m.svg
  packages/components/icon/src/svg/M/experience-grey-hub-m.svg
Due: none

fix(tooltip): hide tooltip if content becomes null
  packages/components/tooltip/src/Tooltip.tsx
Due: eslint --fix, prettier --write

fix(icon): new settings hub icon
  packages/components/icon/src/svg/M/settings-color-hub-m.svg
  packages/components/icon/src/svg/M/settings-grey-hub-m.svg
Due: none

fix(core): body bg color
  packages/components/core/src/style/config.less
Due: prettier --write

build: publish
  packages/components/code-area/CHANGELOG.md
  packages/components/code-area/package.json
  packages/components/core/CHANGELOG.md
  packages/components/core/package.json
  packages/components/design-system/CHANGELOG.md
  packages/components/design-system/package.json
  packages/components/mocks/CHANGELOG.md
  packages/components/mocks/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: none

feat(icon): new app menu icons
  nx.json
  packages/components/icon/src/svg/M/consumption-color-hub-m.svg
  packages/components/icon/src/svg/M/consumption-grey-hub-m.svg
  packages/components/icon/src/svg/M/membership-color-hub-m.svg
  packages/components/icon/src/svg/M/membership-grey-hub-m.svg
  packages/components/icon/src/svg/M/users-color-hub-m.svg
  packages/components/icon/src/svg/M/users-grey-hub-m.svg
  packages/components/icon/src/svg/M/workspaces-color-hub-m.svg
  packages/components/icon/src/svg/M/workspaces-grey-hub-m.svg
Due: none

fix(storybook): updated logo
  packages/storybook/.storybook/main.ts
  packages/storybook/public/logo_syne.svg
  packages/storybook/public/logo_synerise.svg
Due: eslint --fix, prettier --write

chore: pin react 18.3.1 and align types
  package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: none
