Repository Synerise/synerise-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(input): tokenise final surface literals
  TOKENISATION_STATUS.md
  packages/components/input/src/InputMultivalue/InputMultivalue.styles.tsx
  packages/components/input/src/Textarea/Textarea.styles.ts
Due: eslint --fix, prettier --write

refactor(file-uploader): tokenise colours to semantic tokens
  TOKENISATION_STATUS.md
  packages/components/file-uploader/src/AvatarUploader/AvatarUploader.styles.ts
  packages/components/file-uploader/src/AvatarUploader/AvatarUploader.tsx
  packages/components/file-uploader/src/AvatarUploader/FileViewAvatar/FileViewAvatar.styles.ts
  packages/components/file-uploader/src/FileUploader.styles.ts
  packages/components/file-uploader/src/FileUploader.tsx
  packages/components/file-uploader/src/FileView/FileView.styles.ts
  packages/components/file-uploader/src/FileView/FileView.tsx
  packages/components/file-uploader/src/ItemUploader/ItemUploader.styles.ts
  packages/components/file-uploader/src/ItemUploader/UploaderButton/FileViewItem.styles.ts
Due: eslint --fix, prettier --write

refactor(popconfirm): tokenise ConfirmMessage title colour
  TOKENISATION_STATUS.md
  packages/components/popconfirm/src/ConfirmMessage/ConfirmMessage.style.ts
Due: eslint --fix, prettier --write

refactor(short-cuts): map key variant colors to semantic tokens
  TOKENISATION_STATUS.md
  packages/components/short-cuts/src/ShortCuts.style.ts
  packages/components/short-cuts/src/ShortCuts.tsx
Due: eslint --fix, prettier --write

refactor(color-picker): tokenise react-colorful pointer fill
  TOKENISATION_STATUS.md
  packages/components/color-picker/src/ColorPicker.styles.ts
Due: eslint --fix, prettier --write

refactor(table-new): tokenise colours to semantic tokens
  TOKENISATION_STATUS.md
  packages/components/table-new/src/Table.styles.ts
  packages/components/table-new/src/components/BaseTable/BaseTable.styles.ts
  packages/components/table-new/src/components/Cell/AvatarLabel/AvatarLabel.styles.ts
  packages/components/table-new/src/components/Cell/Copyable/Copyable.styles.ts
  packages/components/table-new/src/components/Cell/Editable/EditableCell.styles.ts
  packages/components/table-new/src/components/Cell/IconTooltipCell/IconTooltipCell.styles.ts
  packages/components/table-new/src/components/Cell/LabelsWithShowMore/LabelsWithShowMore.styles.ts
  packages/components/table-new/src/components/Cell/Star/StarCell.styles.ts
  packages/components/table-new/src/components/Cell/Star/StarCell.tsx
  packages/components/table-new/src/components/Cell/StatusLabel/StatusLabel.styles.ts
  packages/components/table-new/src/components/Cell/TagsGroup/TagsGroup.tsx
  packages/components/table-new/src/components/TableBody/TableBody.styles.ts
  packages/components/table-new/src/components/TableBody/TableCell/TableCell.styles.ts
  packages/components/table-new/src/components/TableBody/TableRow/TableRow.styles.ts
  packages/components/table-new/src/components/TableColumns/TableColumnSorter/SortIcons/DefaultSortIcon.tsx
  packages/components/table-new/src/components/TableColumns/TableColumnSorter/SortIcons/StringSortIcon.tsx
  packages/components/table-new/src/components/TableColumns/TableColumns.styles.ts
  packages/components/table-new/src/components/TableHeader/TableHeader.styles.ts
  packages/components/table-new/src/components/TableHeader/TableHeaderSelection/TableHeaderSelection.styles.ts
  packages/components/table-new/src/components/TableHeader/TableLimit/TableLimit.styles.ts
  packages/components/table-new/src/components/TablePagination/TablePagination.styles.ts
  packages/components/table-new/src/components/TreeTable/TreeTable.tsx
Due: eslint --fix, prettier --write

docs(tokenisation): correct Layer column + reclassify status rows
  TOKENISATION_STATUS.md
Due: none

fix(table-new): allow undefined in StarredIcon hover fill return type
  packages/components/table-new/src/components/Cell/Star/StarCell.styles.ts
Due: eslint --fix, prettier --write

fix(cascader): satisfy lint — wrap Icon props, inline static gradients
  packages/components/cascader/src/Cascader.tsx
  packages/components/cascader/src/Elements/Breadcrumb/Breadcrumb.styles.tsx
  packages/components/cascader/src/Elements/BreadcrumbsList/BreadcrumbsList.tsx
  packages/components/cascader/src/Elements/CategoriesList/CategoriesList.tsx
  packages/components/cascader/src/Elements/Navigation/Navigation.tsx
Due: eslint --fix, prettier --write

chore(tokens): sync from design-tokens@382af3e8
  packages/tokens/tokens/$themes.json
  packages/tokens/tokens/modules/base.json
Due: none

fix(subtle-form): keep focus-within bg on palette to preserve 40% opacity
  packages/components/subtle-form/src/SubtleForm.styles.ts
Due: eslint --fix, prettier --write

refactor(card): adopt redesigned card token namespace
  TOKENISATION_STATUS.md
  packages/components/card/src/Card/Card.styles.ts
  packages/components/card/src/CardBadge/CardBadge.styles.tsx
Due: eslint --fix, prettier --write

refactor(date-picker): adopt calendar nav-title tokens for month/year caption
  packages/components/date-picker/src/Elements/Navbar/Navbar.styles.ts
Due: eslint --fix, prettier --write

refactor(code-snippet): adopt surface/copy chrome module tokens
  TOKENISATION_STATUS.md
  packages/components/code-snippet/src/CodeTypes/MultiCode/MultiCode.styles.ts
  packages/components/code-snippet/src/CodeTypes/SingleCode/SingleCode.styles.ts
Due: eslint --fix, prettier --write

docs(card): add warning + error badge variants to HeaderVariants story
  packages/storybook/stories/components/Card/card.data.tsx
Due: eslint --fix, prettier --write

refactor: unify uppercase section-header labels on divider header-text token
  packages/components/app-menu/src/SubMenu/SubMenu.styles.ts
  packages/components/context-selector/src/ContextSelector.styles.ts
  packages/components/factors/src/FactorValue/Parameter/Parameter.style.ts
  packages/components/icon-picker/src/IconPicker.styles.tsx
  packages/components/item-picker/src/components/ItemPickerList/ItemPickerList.styles.ts
  packages/components/items-roll/src/ItemsRoll.styles.ts
  packages/components/list-item/src/components/GroupItem/GroupItem.styles.ts
  packages/components/list-item/src/components/Header/Header.styles.tsx
  packages/components/operators/src/Operators.style.ts
  packages/components/search/src/Search.styles.tsx
Due: eslint --fix, prettier --write

refactor(emoji-picker): use divider header-text token for category title
  packages/components/emoji-picker/src/EmojiList/EmojiList.styles.tsx
Due: eslint --fix, prettier --write

docs: tokenisation session context/playbook (supersede pilot plan)
  .claude/plans/design-token-integration.md
Due: none

docs(skills): point apply-tokens/audit-tokens at the tokenisation context doc
  .claude/skills/apply-tokens/SKILL.md
  .claude/skills/audit-tokens/SKILL.md
Due: none

chore(tokens): sync from design-tokens@39e4a792
  packages/tokens/tokens/$metadata.json
  packages/tokens/tokens/$themes.json
  packages/tokens/tokens/modules/base.json
  packages/tokens/tokens/semantic/Dark.json
  packages/tokens/tokens/semantic/Light.json
  packages/tokens/tokens/semantic/ordered/order-1.json
  packages/tokens/tokens/semantic/ordered/order-10.json
  packages/tokens/tokens/semantic/ordered/order-11.json
  packages/tokens/tokens/semantic/ordered/order-12.json
  packages/tokens/tokens/semantic/ordered/order-13.json
  packages/tokens/tokens/semantic/ordered/order-14.json
  packages/tokens/tokens/semantic/ordered/order-15.json
  packages/tokens/tokens/semantic/ordered/order-16.json
  packages/tokens/tokens/semantic/ordered/order-17.json
  packages/tokens/tokens/semantic/ordered/order-18.json
  packages/tokens/tokens/semantic/ordered/order-19.json
  packages/tokens/tokens/semantic/ordered/order-2.json
  packages/tokens/tokens/semantic/ordered/order-20.json
  packages/tokens/tokens/semantic/ordered/order-21.json
  packages/tokens/tokens/semantic/ordered/order-3.json
  packages/tokens/tokens/semantic/ordered/order-4.json
  packages/tokens/tokens/semantic/ordered/order-5.json
  packages/tokens/tokens/semantic/ordered/order-6.json
  packages/tokens/tokens/semantic/ordered/order-7.json
  packages/tokens/tokens/semantic/ordered/order-8.json
  packages/tokens/tokens/semantic/ordered/order-9.json
Due: none

style(storybook): apply --ds-page-bg to docs preview backgrounds
  packages/storybook/public/style/index.css
Due: prettier --write

feat(tokens): emit ordered categorical colour set + manifest
  packages/tokens/CLAUDE.md
  packages/tokens/config/build-tokens.mjs
Due: none

style(storybook): strengthen docs preview selector to override addon-docs bg
  packages/storybook/public/style/index.css
Due: prettier --write

chore(storybook): disable Chromatic snapshots to skip baselines for now
  packages/storybook/.storybook/preview.tsx
Due: eslint --fix, prettier --write

chore(storybook): disable Chromatic snapshots to skip baselines for now
  TOKENISATION_STATUS.md
  packages/storybook/.storybook/preview.tsx
Due: eslint --fix, prettier --write

refactor(card-tabs): colour tabs from the ordered token queue
  TOKENISATION_STATUS.md
  packages/components/card-tabs/CLAUDE.md
  packages/components/card-tabs/package.json
  packages/components/card-tabs/src/CardTab/CardTab.styles.ts
  packages/components/card-tabs/src/CardTab/CardTab.tsx
  packages/components/card-tabs/src/CardTab/CardTab.types.ts
  packages/components/card-tabs/src/CardTabs.tsx
  packages/components/card-tabs/src/__specs__/CardTabs.spec.tsx
  packages/components/card-tabs/src/utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(card-tabs): tokenise remaining chrome to card-tabs module tokens
  TOKENISATION_STATUS.md
  packages/components/card-tabs/CLAUDE.md
  packages/components/card-tabs/src/CardTab/CardTab.styles.ts
Due: eslint --fix, prettier --write

chore(tokens): sync from design-tokens@2562abd5
  packages/tokens/tokens/$themes.json
  packages/tokens/tokens/modules/base.json
Due: none

refactor(slider): tokenise chrome to slider module tokens
  TOKENISATION_STATUS.md
  packages/components/slider/CLAUDE.md
  packages/components/slider/src/Slider.styles.ts
  packages/components/slider/src/components/AllocationMarks.styles.ts
  packages/components/slider/src/hooks/useInvertedColors.ts
  packages/components/slider/src/utils/Slider.utils.spec.ts
  packages/components/slider/src/utils/Slider.utils.ts
Due: eslint --fix, prettier --write

refactor(slider): colour allocation tracks from the ordered token queue
  TOKENISATION_STATUS.md
  packages/components/slider/CLAUDE.md
  packages/components/slider/package.json
  packages/components/slider/src/Slider.styles.ts
  packages/components/slider/src/components/AllocationMarks.styles.ts
  packages/components/slider/src/components/SliderSections.tsx
  packages/components/slider/src/utils/Slider.utils.spec.ts
  packages/components/slider/src/utils/Slider.utils.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(slider): resolve caller track colours to tokens, drop theme.palette
  packages/components/slider/CLAUDE.md
  packages/components/slider/src/Slider.styles.ts
  packages/components/slider/src/components/AllocationMarks.styles.ts
  packages/components/slider/src/components/SliderSections.tsx
  packages/components/slider/src/utils/Slider.utils.spec.ts
  packages/components/slider/src/utils/Slider.utils.ts
Due: eslint --fix, prettier --write

refactor(card-tabs): reversible tokens for caret gradients + explicit color prop
  packages/components/card-tabs/CLAUDE.md
  packages/components/card-tabs/src/CardTab/CardTab.styles.ts
  packages/components/card-tabs/src/CardTab/CardTab.types.ts
  packages/components/card-tabs/src/utils.ts
Due: eslint --fix, prettier --write

build: publish
  packages/components/design-system/CHANGELOG.md
  packages/components/design-system/package.json
  packages/components/rich-text-renderer/CHANGELOG.md
  packages/components/rich-text-renderer/package.json
  packages/components/rich-text/CHANGELOG.md
  packages/components/rich-text/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  pnpm-lock.yaml
Due: none

refactor(utils): extract shared custom-colour token type + resolver to ds-utils
  packages/components/card-tabs/src/CardTab/CardTab.types.ts
  packages/components/card-tabs/src/utils.ts
  packages/components/slider/src/Slider.types.ts
  packages/components/slider/src/utils/Slider.utils.spec.ts
  packages/components/slider/src/utils/Slider.utils.ts
  packages/components/utils/CLAUDE.md
  packages/components/utils/src/customColor/customColor.types.ts
  packages/components/utils/src/customColor/index.ts
  packages/components/utils/src/customColor/resolveCustomColor.spec.ts
  packages/components/utils/src/customColor/resolveCustomColor.ts
  packages/components/utils/src/index.ts
Due: eslint --fix, prettier --write

fix(storybook): follow theme for preview text colour
  packages/storybook/public/style/index.css
Due: prettier --write

refactor(list): remove antd from ds-list
  packages/components/list/CLAUDE.md
  packages/components/list/README.md
  packages/components/list/package.json
  packages/components/list/src/List.styles.ts
  packages/components/list/src/List.tsx
  packages/components/list/src/List.types.ts
  packages/components/list/src/__spec__/List.spec.tsx
  packages/components/list/src/style/index.less
  packages/components/list/src/style/list.mixin.less
  packages/storybook/stories/components/List/List.stories.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(drawer): remove antd from ds-drawer
  packages/components/drawer/CLAUDE.md
  packages/components/drawer/package.json
  packages/components/drawer/src/Drawer.styles.tsx
  packages/components/drawer/src/Drawer.tsx
  packages/components/drawer/src/Drawer.types.ts
  packages/components/drawer/src/__specs__/Drawer.spec.tsx
  packages/components/drawer/src/style/index.less
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(select): tokenise colours with form-field + semantic tokens
  packages/components/select/src/Select.styles.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,less})
