Repository Synerise/synerise-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(date-range-picker): drop antd dropdownAlign on ds-select
  packages/components/date-range-picker/src/RelativeRangePicker/Elements/CustomRangeForm/DurationField/DurationField.tsx
  packages/components/date-range-picker/src/RelativeRangePicker/Elements/CustomRangeForm/OffsetField/OffsetField.tsx
  packages/components/date-range-picker/src/RelativeRangePicker/Elements/TimestampRange/TimestampDuration/TimestampDuration.tsx
Due: eslint --fix, prettier --write

fix(select): move onClick off the dropdown trigger; focus inputs in interaction tests
  packages/components/select/src/Select.tsx
  packages/storybook/stories/components/CompletedWithin/CompletedWithin.tests.stories.tsx
  packages/storybook/stories/components/Factors/Factors.tests.stories.tsx
Due: eslint --fix, prettier --write

fix(select): fire onFocus/onBlur and split render into sub-components
  packages/components/select/src/Select.styles.ts
  packages/components/select/src/Select.tsx
  packages/components/select/src/Select.types.ts
  packages/components/select/src/__specs__/Select.spec.tsx
  packages/components/select/src/components/OptionList.tsx
  packages/components/select/src/components/SelectorContent.tsx
Due: eslint --fix, prettier --write

docs(select): document reinstated antd-parity props and refresh notes
  packages/components/select/CLAUDE.md
  packages/storybook/stories/components/Select/Select.mdx
  packages/storybook/stories/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write

docs(select): rewrite README and CLAUDE for the de-antd implementation
  packages/components/select/CLAUDE.md
  packages/components/select/README.md
Due: none

refactor(select): keep selectorStyle as CSSObject with a top-level import
  packages/components/select/src/Select.styles.ts
  packages/components/select/src/Select.types.ts
  packages/storybook/stories/components/Select/Select.mdx
Due: eslint --fix, prettier --write

docs: note form-input story co-location in antd-migration-status
  docs/antd-migration-status.md
Due: none

docs(select): correct LESS-consumer note (only ds-table now)
  docs/antd-migration-status.md
  packages/components/select/CLAUDE.md
Due: none

refactor(select): drop antd LESS + peerDep, move styling to ds-table
  packages/components/select/src/style/index.less
  packages/components/table/src/style/index.less
  packages/components/table/src/style/select.mixin.less
Due: prettier --write

refactor(select): drop antd peerDep + update lockfile and docs
  docs/antd-migration-status.md
  packages/components/select/CLAUDE.md
  packages/components/select/package.json
  pnpm-lock.yaml
Due: none

feat(select): forward per-option data-*/aria-* to the rendered option row
  packages/components/select/src/Option.tsx
  packages/components/select/src/Select.types.ts
  packages/components/select/src/__specs__/Select.spec.tsx
  packages/components/select/src/components/OptionList.tsx
  packages/components/select/src/utils/getOptionsFromChildren.ts
Due: eslint --fix, prettier --write

feat(input): add 'none' option to InputGroup growItem
  packages/components/input/src/InputGroup.spec.tsx
  packages/components/input/src/InputGroup.styles.tsx
  packages/components/input/src/InputGroup.types.ts
  packages/storybook/stories/components/InputGroup/InputGroup.stories.tsx
Due: eslint --fix, prettier --write

fix(button): avatar inside button no longer inherits label text color
  packages/components/button/src/Button.styles.tsx
  packages/storybook/stories/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write

fix(select): overlay search input and blur it on selection
  packages/components/select/src/Select.styles.ts
  packages/components/select/src/Select.tsx
  packages/components/select/src/__specs__/Select.spec.tsx
  packages/components/select/src/components/SelectorContent.tsx
Due: eslint --fix, prettier --write

docs(button-group): add split-mode divider audit story (visualtests)
  packages/storybook/stories/components/Button/ButtonGroup.tests.stories.tsx
Due: eslint --fix, prettier --write

docs(carousel): add stories, overview MDX, and interaction tests
  packages/storybook/package.json
  packages/storybook/stories/components/Carousel/Carousel.mdx
  packages/storybook/stories/components/Carousel/Carousel.stories.tsx
  packages/storybook/stories/components/Carousel/Carousel.tests.stories.tsx
  packages/storybook/stories/components/Carousel/data.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(global): include ds-tokens dist in build artifacts
  .gitlab-ci.yml
Due: none

feat(tokens): add CLAUDE.md and Storybook theme switcher
  packages/storybook/.storybook/preview.tsx
  packages/storybook/package.json
  packages/tokens/CLAUDE.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: integrate Token Studio design tokens for section-message
  .claude/plans/design-token-integration.md
  packages/components/core/package.json
  packages/components/core/src/js/DSProvider/ThemeProvider/GlobalTokenStyles.tsx
  packages/components/core/src/js/DSProvider/ThemeProvider/ThemeProvider.tsx
  packages/components/section-message/src/SectionMessage.styles.tsx
  packages/components/section-message/src/SectionMessage.tsx
  packages/components/section-message/src/SectionMessage.utils.tsx
  packages/tokens/config/build-tokens.mjs
  packages/tokens/package.json
  packages/tokens/scripts/sync-tokens.sh
  packages/tokens/src/index.ts
  packages/tokens/tokens/$metadata.json
  packages/tokens/tokens/$themes.json
  packages/tokens/tokens/modules/base.json
  packages/tokens/tokens/modules/colors-only.json
  packages/tokens/tokens/primitives/core.json
  packages/tokens/tokens/semantic/Dark.json
  packages/tokens/tokens/semantic/Light.json
  packages/tokens/tokens/semantic/custom-color/blue.json
  packages/tokens/tokens/semantic/custom-color/cyan.json
  packages/tokens/tokens/semantic/custom-color/fern.json
  packages/tokens/tokens/semantic/custom-color/green.json
  packages/tokens/tokens/semantic/custom-color/grey.json
  packages/tokens/tokens/semantic/custom-color/mars.json
  packages/tokens/tokens/semantic/custom-color/orange.json
  packages/tokens/tokens/semantic/custom-color/pink.json
  packages/tokens/tokens/semantic/custom-color/purple.json
  packages/tokens/tokens/semantic/custom-color/red.json
  packages/tokens/tokens/semantic/custom-color/violet.json
  packages/tokens/tokens/semantic/custom-color/yellow.json
  packages/tokens/tokens/surface/base.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat(tokens): sync updated tokens and add supply/service/entity variants
  packages/components/section-message/src/SectionMessage.styles.tsx
  packages/components/section-message/src/SectionMessage.utils.tsx
  packages/tokens/config/build-tokens.mjs
  packages/tokens/tokens/$metadata.json
  packages/tokens/tokens/$themes.json
  packages/tokens/tokens/modules/base.json
  packages/tokens/tokens/modules/colors-only.json
  packages/tokens/tokens/primitives/core.json
  packages/tokens/tokens/semantic/Dark.json
  packages/tokens/tokens/semantic/Light.json
  packages/tokens/tokens/semantic/dimensions.json
  packages/tokens/tokens/semantic/spacing.json
Due: eslint --fix, prettier --write

chore(tokens): add toast component tokens and tokenisation status report
  packages/components/toast/src/TOKENISATION_STATUS.md
  packages/tokens/tokens/modules/colors-only.json
Due: none

feat(tokens): expand build filter to include opacity and shadow tokens
  packages/components/section-message/src/SectionMessage.utils.tsx
  packages/tokens/config/build-tokens.mjs
  packages/tokens/tokens/modules/colors-only.json
Due: eslint --fix, prettier --write

docs(global): add tokenisation status tracking file
  TOKENISATION_STATUS.md
Due: none

feat(toast): migrate toast colors to design token CSS custom properties
  packages/components/toast/src/TOKENISATION_STATUS.md
  packages/components/toast/src/Toast.styles.ts
  packages/components/toast/src/Toast.tsx
  packages/components/toast/src/__specs__/Toast.spec.tsx
Due: eslint --fix, prettier --write

feat(tokens): add apply-tokens skill for component token migration
  .claude/skills/apply-tokens/SKILL.md
Due: none

chore(tokens): add card-select component tokens and tokenisation status report
  packages/components/card-select/src/TOKENISATION_STATUS.md
  packages/tokens/tokens/modules/base.json
  packages/tokens/tokens/modules/colors-only.json
Due: none

docs(tokens): update apply-tokens skill for shadows, opacity, and status tracking
  .claude/skills/apply-tokens/SKILL.md
Due: none

feat(tokens): automate token sync from design-tokens repo via CI
  .gitlab-ci.yml
  packages/tokens/CLAUDE.md
  packages/tokens/SYNC_AUTOMATION.md
  packages/tokens/config/build-tokens.mjs
  packages/tokens/scripts/sync-tokens.sh
  packages/tokens/tokens/modules/colors-only.json
  scripts/ci-sync-tokens.sh
Due: none

docs(global): expand tokenisation status to all components
  TOKENISATION_STATUS.md
Due: none

fix(tokens): skip root postinstall in sync build gate (--ignore-scripts)
  scripts/ci-sync-tokens.sh
Due: none

fix(tokens): make sync worker dependency-free + run only sync_tokens on trigger
  .gitlab-ci.yml
  scripts/ci-sync-tokens.sh
Due: none

fix(tokens): rename sync branch to chore/design-tokens-sync for branch policy
  packages/tokens/SYNC_AUTOMATION.md
  scripts/ci-sync-tokens.sh
Due: none

fix(tokens): keep kapitan include for extends; trim sync pipeline to sync_tokens
  .gitlab-ci.yml
Due: none

feat(card-select): migrate colors, shadow and opacity to design tokens
  packages/components/card-select/src/CardSelect.styles.ts
  packages/components/card-select/src/CardSelect.tsx
  packages/components/card-select/src/TOKENISATION_STATUS.md
Due: eslint --fix, prettier --write

fix(tokens): use block scalar for chromatic_publish TurboSnap step (YAML colon)
  .gitlab-ci.yml
Due: none

feat(tokens): add no-MR Chromatic preview for in-progress token changes
  .gitlab-ci.yml
  scripts/ci-preview-tokens.sh
  scripts/ci-sync-tokens.sh
Due: none

feat(tokens): Teams notifications + full-snapshot for token Chromatic runs
  .gitlab-ci.yml
  scripts/ci-preview-tokens.sh
Due: none

docs(global): consume-only token granularity in apply-tokens skill + status
  .claude/skills/apply-tokens/SKILL.md
  TOKENISATION_STATUS.md
Due: none

feat(broadcast-bar): migrate variant colors to design tokens
  packages/components/broadcast-bar/src/BroadcastBar.styles.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{css,less})
